#header{
	padding: 3rem;
	font-size: 5vw;
	text-align: center;
	text-decoration:none ;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #f20505;
}
#container{
	margin-left: auto;
	margin-right: auto;
	font-size: 5vw;
	justify-content: center;
	float: center;	
 }
#conteudo{
	padding: 1em;
	text-align: center;
}
a{
	text-decoration:none;
	padding: 0.8em;
	color: #73142D;
	display: flex;
	align-items: center;
	justify-content:flex-start;
	border: 0.2rem;
	border-radius: 5rem;
	font-size: 5vw;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-right: 1em;
	margin-left: 1em;
	border-color: #FF705D;
  	border-style: solid;
}
#footer{
	font-size: 3vw;
	text-align: center;
}
img{
	margin-top : -1em;
	margin-bottom: -1em;
	size: auto;
	justify-content: center;
	width: 1.5em;
	margin-right: 1em;
	align-items: inline;
	padding: 1em;
	margin-left: 2em;
}
.titulos{
	text-decoration:none ;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: #D95276;
}
input{
	width: 10rem;
	height: 10rem;
	font-size: 5vw;
	border-radius: 5rem;
	border-color: solid-black;
	border-width: 0.8rem;
}
